/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {;
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$orange: #f15b29;
$blue: #2b3991;
$gray: #a1a1a1;
$ltgray: #f5f6f7;

$tablet: 980px;
$phone: 640px;

* {
    -box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    transition: all .2s;
}

h1, h2, h3, h4, h5, h6 {
    color: $blue;
}


button {
    margin-top: 5px;
    padding: 7px 10px;
    background: transparent;
    border: 1px solid $orange;
    font-size: .7em;
    text-transform: uppercase;
    color: $blue;
    font-weight: normal !important;
    line-height: 1.6em !important;
    &:hover {
        color: white;
        background: $orange;
    }
}

button.orange-button {
    color: white;
    border: 1px solid white;
    &:hover {
        color: $orange;
        background: white;
    }
}

.flex {
    display: flex;
}
.clear {
    clear: both;
}
body {
    font-size: 1em;
    font-family: "Helvetica", sans-serif;
}
header  {
    h1 {
        font-size: 1px;
        text-indent: -1000px;
    }
}
.wrapper {
    display: block;
    margin: 0 auto !important;
    width: 100%;
}
header {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto !important;
    padding: 40px 85px 20px;
    background: white;
    border-bottom: 18px solid $orange;
    .logo {
        width: 100%;
        max-width: 265px;
        height: auto !important;
    }
    nav {
        display: block;
        padding: 42px 0px;
        float: right;
        a {
            font-size: .8em;
            text-decoration: none !important;
            color: $blue;
        }
        ul {
            display: inline;
            max-width: auto;
            padding-left: 0px;
            text-decoration: none;
            li.current-menu-item {
                border-bottom: 3px solid $orange;
            }
            li {
                display: inline-block;
                margin-left: 50px;
                text-transform: uppercase;
                border-bottom: 3px solid white;
                &:hover {
                    border-bottom: 3px solid $orange;
                }
            }
        }
    }
}

body.home li.current-menu-item {
    border-bottom: none;
}
footer {
    display: block;
    margin: 0 auto !important;
    padding: 15px 0px;
    width: 100%;
    height: auto;
    background: $blue;
    text-align: center;
    color: white;
    font-size: .6em;
}
.home .hero img {
    width: 100%;
    z-index: 1;
}
div[class*="home-hero-"] {
    min-height: 285px;
    color: white;
    font-size: 1.2em;
}
.home-hero-left {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 55%;
    background: rgb(254,231,225); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(254,231,225,1) 0%, rgba(241,91,41,1) 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(254,231,225,1) 0%,rgba(241,91,41,1) 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(254,231,225,1) 0%,rgba(241,91,41,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 ); /* IE6-9 */
    line-height: 1.6em;
    .feature-wrap {
        margin-bottom: 30px;
        padding-left: 35%;
        padding-right: 30px;
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0px;
            color: white !important;
            text-transform: uppercase; 
        }
    }
    ul {
        padding-left: 20px;
    }
    button {
        color: white;
        border: 1px solid white;
        &:hover {
            color: $orange;
            background: white;
        }
    }
}

.home-hero-right {
    position: relative;
    display: inline-block;
    float: right;
    width: 45%;
    background: rgb(43,57,145); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(43,57,145,1) 60%, rgba(121,130,185,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 ); /* IE6-9 */
    padding: 45px 75px 45px 40px;
    text-align: justify;
    line-height: 1.8em;
}

.home-hero-right {
    position: absolute;
    min-height: 335px !important;
    padding: 40px 85px 20px;
    padding-bottom: 20px;
}

.home-hero-left::before {
    content: "";
    display: block;
    position: absolute;
    width:100%;
    height: 50px;
    top: -50px;
    background: rgb(254,231,225); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(254,231,225,1) 0%, rgba(241,91,41,1) 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(254,231,225,1) 0%,rgba(241,91,41,1) 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(254,231,225,1) 0%,rgba(241,91,41,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 ); /* IE6-9 */
}

/*.home-hero-right::after {
    content: "";
    display: block;
    position: absolute;
    top: 285px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: rgb(43,57,145); 
    background: -moz-linear-gradient(left, rgba(43,57,145,1) 60%, rgba(121,130,185,1) 100%); 
    background: -webkit-linear-gradient(left, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); 
    background: linear-gradient(to right, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
}*/

section.home-cta {
    padding: 40px 85px 20px;
    background: $orange;
    h1, h2, h3, h4, h5, h6 {
        color: white !important;
    }
}

.facts {
    display: block;
    width: 100%; 
    height: auto;
    margin: 40px auto;
    padding: 0px 85px;
}

.fact {
    float: left;
    width: 33%;
    height: auto;
    padding: 0px 10px;
    a {
        text-decoration: none;
    }
    img { 
        float: left;
        width: 75px;
        height: auto !important;
        margin-top: -4px;
        margin-left: 12px;  
        margin-right: 100px; 
    }
    h4 {
        color: $orange;
        font-weight: lighter;
        text-transform: uppercase;
    }
    .push {
        float: left;
        max-width: 60%;
        margin-left: 30px;
/*        padding-right: 30px;
*/    }
}

div[class*="border-"] {
    width: 100px !important;
    height: 100px!important;
    margin: 25px auto;
    padding-top: 15px;
    border-radius: 50px;
}

div.border-white {
    border: 1px solid white;
}
div.border-orange {
    float: left;
    margin-top: 0px;
    border: 1px solid $orange;
}

.sidebar {
    width: 30%;
    min-width: 400px;
    height: auto;
    padding: 45px 0px 45px 70px;
    box-shadow: inset -15px 0px 15px -6px #d0d0d0;
    font-weight: bold;
    ul {
        padding: 0px 0px 0px 0px;
        list-style-type: none;
        text-decoration: none;
        li.current-menu-item {
            z-index: 10;
            background: rgb(255,255,255); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(176,175,209,1) 50%, rgba(161,160,194,1) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(176,175,209,1) 50%, rgba(161,160,194,1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(176,175,209,1) 50%, rgba(161,160,194,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a1a0c2',GradientType=1 ); /* IE6-9 */
        }
        li {
            margin-bottom: 15px;
            padding: 5px 5px 5px 0px;
            line-height: 1.5em;
            text-indent: 30px;
            &:hover {
                z-index: 10;
                background: rgb(255,255,255); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(176,175,209,1) 50%, rgba(161,160,194,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(176,175,209,1) 50%, rgba(161,160,194,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(176,175,209,1) 50%, rgba(161,160,194,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a1a0c2',GradientType=1 ); /* IE6-9 */}
            
            a {
                color: $blue;
                text-decoration: none;
                
            }
        }
    }
}

/*page and blog styles*/

.page,
.blog,
.single {
    .flex {
        margin-top: 40px;
    }
    .sidebar {
        box-shadow: none;
    }
    section.content {
        box-shadow: -5px 0px 28px 5px #d0d0d0;
        z-index: 0;        
        article {
            margin-bottom: 50px;
            a {
                text-decoration: none;
            }
            &:hover {
                h2 {
                    position: relative;
                }
                h2:after {
                    position: absolute;
                    content: '▶';
                    color: $blue;
                    font-size: .8em;
                    top: 1px;
                }
            }
        }
        span.page-title-span {
            background-color: white;
            display: inline-block;
            float: right;
            min-width: 40%;
            margin-top: -85px;
            margin-right: -85px;
        } 
        .page-title {
            position: relative;
            width: 100%;
            display: inline-block;
            float: right;
            margin: -15px 0px 0px;
            padding: 40px 20px;
            font-size: 1.5em;
            color: white;
            background: rgb(43,57,145); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(43,57,145,1) 60%, rgba(121,130,185,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 ); /* IE6-9 */
        }
    }
}

body.home {
    section.content {
        box-shadow: none;
    }
    .flex {
        margin-top: 0px;
    }
    .sidebar {
        box-shadow: inset -15px 0px 15px -6px #d0d0d0;
    }
}


section.content {
    width: 70%;
    padding: 60px 85px 60px;
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.6em;
    text-align: justify;
    ul {
        padding-left: 20px; 
    }
    ul li {
       list-style-type: none;
        color: black;
        &::before {
            content: "•";
            color: $orange;
            display: inline-block;
            width: 1em;
            margin-left: -1em
        }
    }
    ol li {
        list-style-type: decimal;
        color: $blue;
    }
    ol li:first-line {
        color: black;
    }
}

body.home section.content {
    padding-top: 130px;
}

blockquote {
    padding: 8px 12px;
    background-color: $ltgray;
    border-top: 2px solid $orange;
}

.post-meta {
    color: $orange;
}

/*Contact Forms*/

div[role="form"] {
    label {
        color: $blue;
    }
    input, textarea {
        color: black;
        font-size: 1em;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: normal;
        border: 1px solid $gray;
    }
    input[type="submit"] {
        margin-top: 5px;
        padding: 7px 10px;
        background: transparent;
        border: 1px solid $orange;
        font-size: .7em;
        color: $blue;
        font-weight: normal !important;
        text-transform: uppercase;
        line-height: 1.6em !important;
        &:hover {
            color: white;
            background: $orange;
        }
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1220px) {
    .fact {
/*        padding-right: 0px;
*/        .push {
            float: none;
            text-align: center;
            margin: 0px auto;
        }
    }
    div.border-orange {
        float: none;
    }
}



@media (max-width: $tablet) {
    header {
        padding: 20px 55px;
        .logo {
            max-width: 150px;
        }
        nav {
            display: none;
        }
    }
    .home-hero-right {
        padding-top: 20px;
    }

    section.sidebar,
    section.content,
    section.facts {
        padding-left: 55px;
    }
    .home-hero-right,
    section.content,
    section.facts {
        padding-right: 55px;
    }

    section.sidebar {
        min-width: 250px;
        ul li {
            text-indent: 0px;
        }
    }
    .page section.content span.page-title-span {
        margin-right: -55px;
    }
    div[class*="home-hero-"] {
        min-height: 0px;
    }
    .home-hero-right {
        display: none;
    }
    .home-hero-left {
        max-width: 100%;
        margin-top: 40px;
        background: white;
        color: $orange !important;
        .feature-wrap {
            margin-top: 30px;
            padding: 10px 40px !important;
            font-size: 1em;
            h1, h2, h3, h4 {
                color: $orange !important;
            }
            button {
                float: none;
                text-transform: uppercase;
                color: $blue;
                border: none;
                &:hover {
                    color: white;
                    background: $orange;
                }
            }
        }
        &::before {
            display: none;
        }
    }
    .home-hero-left::before {
        content: "";
        display: block;
        position: absolute;
        width:60%;
        height: 50px;
        top: -50px;
        background: rgb(254,231,225); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(254,231,225,1) 0%, rgba(241,91,41,1) 40%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(254,231,225,1) 0%,rgba(241,91,41,1) 40%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(254,231,225,1) 0%,rgba(241,91,41,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 ); /* IE6-9 */
    }
    .home-hero-left::after {
        content: "";
        display: block;
        position: absolute;
        width:40%;
        height: 50px;
        top: -40px;
        right: 0px;
        background: rgb(43,57,145); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(43,57,145,1) 60%, rgba(121,130,185,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 ); /* IE6-9 */
    }
    body.home section.content {
        padding-top: 35px;
    }
}


@media (max-width: $phone) {
    header {
        padding: 10px 35px;
        border-bottom: 9px solid $orange;
    }
    
    h1 {
        font-size: 1.2em;
    }
    section.content {
        text-align: left;
    }
    section.sidebar,
    section.content,
    section.facts {
        padding-left: 35px;
    }
    .home-hero-right,
    section.content,
    section.facts {
        width: 100%;
        padding-right: 35px;
    }
    section.sidebar {
        display: none;
    }
    div.border-orange {
        float: left;
    }
    .fact {
        display: block;
        float: none;
        clear: both;
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        .push {
            float: left;
            max-width: 55%;
            margin-left: 30px;
            text-align: left;
        }
    }
    div[role="form"] input, 
    div[role="form"] textarea {
        width: 100% !important;
    }

    .page section.content {
        width: 90%;
        margin-left: 10%;
    }
    .page section.content span.page-title-span,
    .blog section.content span.page-title-span,
    .single section.content span.page-title-span {
        min-width: 60%;
        margin-top: -70px;
        margin-right: -35px;
    }
    .page section.content .page-title,
    .blog section.content .page-title,
    .single section.content .page-title {
        padding: 15px 10px;
        font-weight: normal;
    }
    .home section.content {
        width: 100%;
        margin-left: 0%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}