@charset "UTF-8";
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 3, ../sass/main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/* line 9, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 14, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 19, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 33, ../sass/main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* line 37, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 43, ../sass/main.scss */
textarea {
  resize: vertical; }

/* line 47, ../sass/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 65, ../sass/main.scss */
* {
  -box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important; }

/* line 70, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  color: #2b3991; }

/* line 75, ../sass/main.scss */
button {
  margin-top: 5px;
  padding: 7px 10px;
  background: transparent;
  border: 1px solid #f15b29;
  font-size: .7em;
  color: #2b3991;
  font-weight: normal !important;
  line-height: 1.6em !important; }
  /* line 84, ../sass/main.scss */
  button:hover {
    color: white;
    background: #f15b29; }

/* line 89, ../sass/main.scss */
.flex {
  display: flex; }

/* line 92, ../sass/main.scss */
.clear {
  clear: both; }

/* line 95, ../sass/main.scss */
body {
  font-size: 1em;
  font-family: "Helvetica Neue", sans-serif; }

/* line 100, ../sass/main.scss */
header h1 {
  font-size: 1px;
  text-indent: -1000px; }

/* line 105, ../sass/main.scss */
.wrapper {
  display: block;
  margin: 0 auto !important;
  width: 100%;
  max-width: 1250px; }

/* line 111, ../sass/main.scss */
header {
  display: block;
  width: 100%;
  max-width: 1250px;
  height: auto;
  margin: 0 auto !important;
  padding: 40px 85px 20px;
  background: white;
  border-bottom: 18px solid #f15b29; }
  /* line 120, ../sass/main.scss */
  header .logo {
    width: 100%;
    max-width: 265px;
    height: auto !important; }
  /* line 125, ../sass/main.scss */
  header nav {
    display: block;
    padding: 42px 0px;
    float: right; }
    /* line 129, ../sass/main.scss */
    header nav a {
      font-size: .8em;
      text-decoration: none !important;
      color: #2b3991; }
    /* line 134, ../sass/main.scss */
    header nav ul {
      display: inline;
      max-width: auto;
      padding-left: 0px;
      text-decoration: none; }
      /* line 139, ../sass/main.scss */
      header nav ul li {
        display: inline-block;
        margin-left: 50px;
        text-transform: uppercase;
        border-bottom: 3px solid white; }
        /* line 144, ../sass/main.scss */
        header nav ul li:hover {
          border-bottom: 3px solid #f15b29; }

/* line 151, ../sass/main.scss */
footer {
  display: block;
  margin: 0 auto !important;
  padding: 15px 0px;
  width: 100%;
  height: auto;
  background: #2b3991;
  text-align: center;
  color: white;
  font-size: .6em; }

/* line 162, ../sass/main.scss */
.home .hero img {
  width: 100%;
  z-index: 1; }

/* line 167, ../sass/main.scss */
div[class*="home-hero-"],
div[class*="footer-hero-"] {
  min-height: 285px;
  color: white;
  font-size: 1.2em; }

/* line 173, ../sass/main.scss */
.home-hero-left,
.footer-hero-left {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 55%;
  background: #fee7e1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fee7e1 0%, #f15b29 40%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 );
  /* IE6-9 */
  line-height: 1.6em; }
  /* line 184, ../sass/main.scss */
  .home-hero-left .feature-wrap,
  .footer-hero-left .feature-wrap {
    padding-left: 27%;
    padding-right: 30px; }
    /* line 187, ../sass/main.scss */
    .home-hero-left .feature-wrap h4,
    .footer-hero-left .feature-wrap h4 {
      color: white !important; }
  /* line 191, ../sass/main.scss */
  .home-hero-left ul,
  .footer-hero-left ul {
    padding-left: 20px; }
  /* line 194, ../sass/main.scss */
  .home-hero-left button,
  .footer-hero-left button {
    color: white;
    border: 1px solid white; }
    /* line 197, ../sass/main.scss */
    .home-hero-left button:hover,
    .footer-hero-left button:hover {
      color: #f15b29;
      background: white; }

/* line 204, ../sass/main.scss */
.home-hero-right {
  height: 285px; }

/* line 209, ../sass/main.scss */
.home-hero-right,
.footer-hero-right {
  position: relative;
  display: inline-block;
  float: right;
  width: 45%;
  background: #2b3991;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2b3991 60%, #7982b9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2b3991 60%, #7982b9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2b3991 60%, #7982b9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
  /* IE6-9 */
  padding: 45px 75px 45px 40px;
  text-align: justify; }

/* line 223, ../sass/main.scss */
.home-hero-left::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  top: -50px;
  background: #fee7e1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fee7e1 0%, #f15b29 40%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 );
  /* IE6-9 */ }

/* line 237, ../sass/main.scss */
.home-hero-right::after {
  content: "";
  display: block;
  position: absolute;
  top: 285px;
  left: 0px;
  height: 50px;
  width: 100%;
  background: #2b3991;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2b3991 60%, #7982b9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2b3991 60%, #7982b9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2b3991 60%, #7982b9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
  /* IE6-9 */ }

/* line 252, ../sass/main.scss */
.footer-hero-left {
  max-width: 45%;
  font-weight: lighter;
  text-align: center; }
  /* line 256, ../sass/main.scss */
  .footer-hero-left .feature-wrap {
    float: right;
    width: 100%;
    max-width: 350px;
    padding-left: 50px;
    padding-right: 50px; }
  /* line 263, ../sass/main.scss */
  .footer-hero-left h4 {
    font-weight: lighter; }
  /* line 266, ../sass/main.scss */
  .footer-hero-left img {
    position: relative;
    width: 75px;
    height: auto !important;
    margin-top: -4px;
    margin-left: 1px;
    margin-right: 0px; }
  /* line 274, ../sass/main.scss */
  .footer-hero-left p {
    margin-top: -20px; }

/* line 279, ../sass/main.scss */
.footer-hero-right {
  width: 100%;
  max-width: 55%;
  height: auto !important;
  min-height: auto !important;
  margin-top: -50px;
  padding: 0px; }
  /* line 286, ../sass/main.scss */
  .footer-hero-right img {
    width: 85%;
    height: auto !important;
    max-height: 280px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
  /* line 293, ../sass/main.scss */
  .footer-hero-right:before {
    content: "";
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    max-height: 285px;
    background: #2b3991;
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(43, 57, 145, 0.3) 0%, rgba(43, 57, 145, 0.3) 85%, #7982b9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(43, 57, 145, 0.3) 0%, rgba(43, 57, 145, 0.3) 85%, #7982b9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(43, 57, 145, 0.3) 0%, #2b3991 85%, #7982b9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
    /* IE6-9 */ }

/* line 308, ../sass/main.scss */
.facts {
  display: block;
  width: 100%;
  max-width: 1250px;
  height: auto;
  margin: 40px 0px;
  padding: 0px 85px; }

/* line 317, ../sass/main.scss */
.fact {
  float: left;
  width: 33%;
  height: auto;
  padding-right: 10px; }
  /* line 322, ../sass/main.scss */
  .fact img {
    float: left;
    width: 75px;
    height: auto !important;
    margin-top: -4px;
    margin-left: 12px;
    margin-right: 100px; }
  /* line 330, ../sass/main.scss */
  .fact h4 {
    color: #f15b29;
    font-weight: lighter; }
  /* line 334, ../sass/main.scss */
  .fact .push {
    float: left;
    margin-left: 30px; }

/* line 340, ../sass/main.scss */
div[class*="border-"] {
  width: 100px !important;
  height: 100px !important;
  margin: 25px auto;
  padding-top: 15px;
  border-radius: 50px; }

/* line 348, ../sass/main.scss */
div.border-white {
  border: 1px solid white; }

/* line 351, ../sass/main.scss */
div.border-orange {
  float: left;
  margin-top: 0px;
  border: 1px solid #f15b29; }

/* line 357, ../sass/main.scss */
.sidebar {
  width: 30%;
  min-width: 400px;
  height: auto;
  padding: 45px 0px 45px 70px;
  box-shadow: inset -15px 0px 15px -6px #d0d0d0;
  font-weight: bold; }
  /* line 364, ../sass/main.scss */
  .sidebar ul {
    padding: 0px 10px 0px 0px;
    list-style-type: none;
    text-decoration: none; }
    /* line 368, ../sass/main.scss */
    .sidebar ul li {
      margin-bottom: 30px;
      line-height: 1.5em;
      text-indent: 30px; }
      /* line 372, ../sass/main.scss */
      .sidebar ul li:hover {
        background: white;
        /* Old browsers */
        /* FF3.6-15 */
        /* Chrome10-25,Safari5.1-6 */
        background: -webkit-linear-gradient(left, white 0%, #b0afd1 50%, #a1a0c2 100%);
        background: -o-linear-gradient(left, white 0%, #b0afd1 50%, #a1a0c2 100%);
        background: linear-gradient(to right, #ffffff 0%, #b0afd1 50%, #a1a0c2 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a1a0c2',GradientType=1 );
        /* IE6-9 */ }
      /* line 378, ../sass/main.scss */
      .sidebar ul li a {
        color: #2b3991;
        text-decoration: none; }

/* line 387, ../sass/main.scss */
section.content {
  width: 70%;
  max-width: 850px;
  padding: 45px 85px 60px;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.6em;
  text-align: justify; }
  /* line 395, ../sass/main.scss */
  section.content ul {
    padding-left: 20px; }
  /* line 398, ../sass/main.scss */
  section.content ul li {
    margin-bottom: 1em;
    list-style-type: none;
    color: black; }
    /* line 402, ../sass/main.scss */
    section.content ul li::before {
      content: "•";
      color: red;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }
  /* line 410, ../sass/main.scss */
  section.content ol li {
    list-style-type: decimal;
    color: #f15b29; }
  /* line 414, ../sass/main.scss */
  section.content ol li:first-line, section.content ul li:first-line {
    color: black; }

/* line 419, ../sass/main.scss */
body.home section.content {
  padding-top: 130px; }

/*Contact Forms*/
/* line 426, ../sass/main.scss */
div[role="form"] label {
  color: #2b3991; }
/* line 429, ../sass/main.scss */
div[role="form"] input, div[role="form"] textarea {
  color: black;
  font-size: 1em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  border: 1px solid #a1a1a1; }
/* line 436, ../sass/main.scss */
div[role="form"] input[type="submit"] {
  margin-top: 5px;
  padding: 7px 10px;
  background: transparent;
  border: 1px solid #f15b29;
  font-size: .7em;
  color: #2b3991;
  font-weight: normal !important;
  line-height: 1.6em !important; }
  /* line 445, ../sass/main.scss */
  div[role="form"] input[type="submit"]:hover {
    color: white;
    background: #f15b29; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 980px) {
  /* line 457, ../sass/main.scss */
  header {
    padding: 20px 55px; }
    /* line 459, ../sass/main.scss */
    header .logo {
      max-width: 150px; }
    /* line 462, ../sass/main.scss */
    header nav {
      display: none; }

  /* line 466, ../sass/main.scss */
  .home-hero-right {
    padding-top: 20px; }

  /* line 472, ../sass/main.scss */
  section.sidebar,
  section.content,
  section.facts {
    padding-left: 55px; }

  /* line 477, ../sass/main.scss */
  .home-hero-right,
  section.content,
  section.facts {
    padding-right: 55px; }

  /* line 481, ../sass/main.scss */
  section.sidebar {
    min-width: 250px; }
    /* line 483, ../sass/main.scss */
    section.sidebar ul li {
      text-indent: 0px; }

  /* line 487, ../sass/main.scss */
  div.border-orange {
    float: none; }

  /* line 491, ../sass/main.scss */
  .fact {
    padding-right: 0px; }
    /* line 493, ../sass/main.scss */
    .fact .push {
      float: none;
      text-align: center;
      margin: 0px auto; } }
@media (max-width: 640px) {
  /* line 503, ../sass/main.scss */
  header {
    padding: 10px 35px;
    border-bottom: 9px solid #f15b29; }

  /* line 507, ../sass/main.scss */
  div[class*="home-hero-"] {
    min-height: 0px; }

  /* line 510, ../sass/main.scss */
  .home-hero-right {
    display: none; }

  /* line 513, ../sass/main.scss */
  .home-hero-left {
    max-width: 100%;
    margin-top: 40px;
    background: white;
    color: #f15b29 !important; }
    /* line 518, ../sass/main.scss */
    .home-hero-left .feature-wrap {
      padding: 10px 40px !important;
      font-size: 1em; }
      /* line 521, ../sass/main.scss */
      .home-hero-left .feature-wrap h4 {
        color: #f15b29 !important; }
      /* line 524, ../sass/main.scss */
      .home-hero-left .feature-wrap button {
        float: none;
        text-transform: uppercase;
        color: #2b3991;
        border: none; }
        /* line 529, ../sass/main.scss */
        .home-hero-left .feature-wrap button:hover {
          color: white;
          background: #f15b29; }
    /* line 535, ../sass/main.scss */
    .home-hero-left::before {
      display: none; }

  /* line 539, ../sass/main.scss */
  .home-hero-left::before {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    height: 50px;
    top: -50px;
    background: #fee7e1;
    /* Old browsers */
    background: -moz-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fee7e1 0%, #f15b29 40%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 );
    /* IE6-9 */ }

  /* line 552, ../sass/main.scss */
  .home-hero-left::after {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 50px;
    top: -40px;
    right: 0px;
    background: #2b3991;
    /* Old browsers */
    background: -moz-linear-gradient(left, #2b3991 60%, #7982b9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2b3991 60%, #7982b9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2b3991 60%, #7982b9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
    /* IE6-9 */ }

  /* line 566, ../sass/main.scss */
  body.home section.content {
    padding-top: 35px; }

  /* line 570, ../sass/main.scss */
  h1 {
    font-size: 1.2em; }

  /* line 573, ../sass/main.scss */
  section.content {
    text-align: left; }

  /* line 578, ../sass/main.scss */
  section.sidebar,
  section.content,
  section.facts {
    padding-left: 35px; }

  /* line 583, ../sass/main.scss */
  .home-hero-right,
  section.content,
  section.facts {
    width: 100%;
    padding-right: 35px; }

  /* line 587, ../sass/main.scss */
  section.sidebar {
    display: none; }

  /* line 590, ../sass/main.scss */
  .footer-hero-left .feature-wrap {
    padding: 0px 15px 0px 35px !important;
    font-size: .8em;
    line-height: 1.2em; }
    /* line 594, ../sass/main.scss */
    .footer-hero-left .feature-wrap h4 {
      margin: 15px 0px 25px; }
    /* line 597, ../sass/main.scss */
    .footer-hero-left .feature-wrap div[class*="border-"] {
      width: 55px !important;
      height: 55px !important;
      margin: 15px auto 10px; }
      /* line 601, ../sass/main.scss */
      .footer-hero-left .feature-wrap div[class*="border-"] img {
        width: 35px;
        margin-top: -6px; }

  /* line 607, ../sass/main.scss */
  div[class*="footer-hero-"] {
    min-height: 0px; }

  /* line 610, ../sass/main.scss */
  .footer-hero-left p {
    display: none; }

  /* line 613, ../sass/main.scss */
  .footer-hero-right {
    margin-top: -20px; }

  /* line 616, ../sass/main.scss */
  div.border-orange {
    float: left; }

  /* line 619, ../sass/main.scss */
  .fact {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    max-width: 250px;
    margin: 0 auto; }
    /* line 626, ../sass/main.scss */
    .fact .push {
      float: left;
      margin-left: 30px;
      text-align: left; }

  /* line 633, ../sass/main.scss */
  div[role="form"] input,
  div[role="form"] textarea {
    width: 100% !important; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 649, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 654, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 666, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 675, ../sass/main.scss */
.invisible {
  visibility: hidden; }

/* line 680, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 685, ../sass/main.scss */
.clearfix:after {
  clear: both; }

/* line 689, ../sass/main.scss */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 700, ../sass/main.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 708, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 712, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 716, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 721, ../sass/main.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  /* line 726, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 731, ../sass/main.scss */
  thead {
    display: table-header-group; }

  /* line 736, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 740, ../sass/main.scss */
  img {
    max-width: 100% !important; }

  /* line 746, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 752, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
