@charset "UTF-8";
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 3, ../sass/main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/* line 9, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 14, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 19, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 33, ../sass/main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* line 37, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 43, ../sass/main.scss */
textarea {
  resize: vertical; }

/* line 47, ../sass/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 66, ../sass/main.scss */
* {
  -box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  transition: all .2s; }

/* line 72, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  color: #2b3991; }

/* line 77, ../sass/main.scss */
button {
  margin-top: 5px;
  padding: 7px 10px;
  background: transparent;
  border: 1px solid #f15b29;
  font-size: .7em;
  text-transform: uppercase;
  color: #2b3991;
  font-weight: normal !important;
  line-height: 1.6em !important; }
  /* line 87, ../sass/main.scss */
  button:hover {
    color: white;
    background: #f15b29; }

/* line 93, ../sass/main.scss */
button.orange-button {
  color: white;
  border: 1px solid white; }
  /* line 96, ../sass/main.scss */
  button.orange-button:hover {
    color: #f15b29;
    background: white; }

/* line 102, ../sass/main.scss */
.flex {
  display: flex; }

/* line 105, ../sass/main.scss */
.clear {
  clear: both; }

/* line 108, ../sass/main.scss */
body {
  font-size: 1em;
  font-family: "Helvetica", sans-serif; }

/* line 113, ../sass/main.scss */
header h1 {
  font-size: 1px;
  text-indent: -1000px; }

/* line 118, ../sass/main.scss */
.wrapper {
  display: block;
  margin: 0 auto !important;
  width: 100%; }

/* line 123, ../sass/main.scss */
header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto !important;
  padding: 40px 85px 20px;
  background: white;
  border-bottom: 18px solid #f15b29; }
  /* line 131, ../sass/main.scss */
  header .logo {
    width: 100%;
    max-width: 265px;
    height: auto !important; }
  /* line 136, ../sass/main.scss */
  header nav {
    display: block;
    padding: 42px 0px;
    float: right; }
    /* line 140, ../sass/main.scss */
    header nav a {
      font-size: .8em;
      text-decoration: none !important;
      color: #2b3991; }
    /* line 145, ../sass/main.scss */
    header nav ul {
      display: inline;
      max-width: auto;
      padding-left: 0px;
      text-decoration: none; }
      /* line 150, ../sass/main.scss */
      header nav ul li.current-menu-item {
        border-bottom: 3px solid #f15b29; }
      /* line 153, ../sass/main.scss */
      header nav ul li {
        display: inline-block;
        margin-left: 50px;
        text-transform: uppercase;
        border-bottom: 3px solid white; }
        /* line 158, ../sass/main.scss */
        header nav ul li:hover {
          border-bottom: 3px solid #f15b29; }

/* line 166, ../sass/main.scss */
body.home li.current-menu-item {
  border-bottom: none; }

/* line 169, ../sass/main.scss */
footer {
  display: block;
  margin: 0 auto !important;
  padding: 15px 0px;
  width: 100%;
  height: auto;
  background: #2b3991;
  text-align: center;
  color: white;
  font-size: .6em; }

/* line 180, ../sass/main.scss */
.home .hero img {
  width: 100%;
  z-index: 1; }

/* line 184, ../sass/main.scss */
div[class*="home-hero-"] {
  min-height: 285px;
  color: white;
  font-size: 1.2em; }

/* line 189, ../sass/main.scss */
.home-hero-left {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 55%;
  background: #fee7e1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fee7e1 0%, #f15b29 40%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 );
  /* IE6-9 */
  line-height: 1.6em; }
  /* line 200, ../sass/main.scss */
  .home-hero-left .feature-wrap {
    margin-bottom: 30px;
    padding-left: 35%;
    padding-right: 30px; }
    /* line 204, ../sass/main.scss */
    .home-hero-left .feature-wrap h1, .home-hero-left .feature-wrap h2, .home-hero-left .feature-wrap h3, .home-hero-left .feature-wrap h4, .home-hero-left .feature-wrap h5, .home-hero-left .feature-wrap h6 {
      margin-top: 0px;
      color: white !important;
      text-transform: uppercase; }
  /* line 210, ../sass/main.scss */
  .home-hero-left ul {
    padding-left: 20px; }
  /* line 213, ../sass/main.scss */
  .home-hero-left button {
    color: white;
    border: 1px solid white; }
    /* line 216, ../sass/main.scss */
    .home-hero-left button:hover {
      color: #f15b29;
      background: white; }

/* line 223, ../sass/main.scss */
.home-hero-right {
  position: relative;
  display: inline-block;
  float: right;
  width: 45%;
  background: #2b3991;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2b3991 60%, #7982b9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2b3991 60%, #7982b9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2b3991 60%, #7982b9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
  /* IE6-9 */
  padding: 45px 75px 45px 40px;
  text-align: justify;
  line-height: 1.8em; }

/* line 238, ../sass/main.scss */
.home-hero-right {
  position: absolute;
  min-height: 335px !important;
  padding: 40px 85px 20px;
  padding-bottom: 20px; }

/* line 245, ../sass/main.scss */
.home-hero-left::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  top: -50px;
  background: #fee7e1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fee7e1 0%, #f15b29 40%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 );
  /* IE6-9 */ }

/*.home-hero-right::after {
    content: "";
    display: block;
    position: absolute;
    top: 285px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: rgb(43,57,145); 
    background: -moz-linear-gradient(left, rgba(43,57,145,1) 60%, rgba(121,130,185,1) 100%); 
    background: -webkit-linear-gradient(left, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); 
    background: linear-gradient(to right, rgba(43,57,145,1) 60%,rgba(121,130,185,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
}*/
/* line 274, ../sass/main.scss */
section.home-cta {
  padding: 40px 85px 20px;
  background: #f15b29; }
  /* line 277, ../sass/main.scss */
  section.home-cta h1, section.home-cta h2, section.home-cta h3, section.home-cta h4, section.home-cta h5, section.home-cta h6 {
    color: white !important; }

/* line 282, ../sass/main.scss */
.facts {
  display: block;
  width: 100%;
  height: auto;
  margin: 40px auto;
  padding: 0px 85px; }

/* line 290, ../sass/main.scss */
.fact {
  float: left;
  width: 33%;
  height: auto;
  padding: 0px 10px; }
  /* line 295, ../sass/main.scss */
  .fact a {
    text-decoration: none; }
  /* line 298, ../sass/main.scss */
  .fact img {
    float: left;
    width: 75px;
    height: auto !important;
    margin-top: -4px;
    margin-left: 12px;
    margin-right: 100px; }
  /* line 306, ../sass/main.scss */
  .fact h4 {
    color: #f15b29;
    font-weight: lighter;
    text-transform: uppercase; }
  /* line 311, ../sass/main.scss */
  .fact .push {
    float: left;
    max-width: 60%;
    margin-left: 30px;
    /*        padding-right: 30px;
    */ }

/* line 319, ../sass/main.scss */
div[class*="border-"] {
  width: 100px !important;
  height: 100px !important;
  margin: 25px auto;
  padding-top: 15px;
  border-radius: 50px; }

/* line 327, ../sass/main.scss */
div.border-white {
  border: 1px solid white; }

/* line 330, ../sass/main.scss */
div.border-orange {
  float: left;
  margin-top: 0px;
  border: 1px solid #f15b29; }

/* line 336, ../sass/main.scss */
.sidebar {
  width: 30%;
  min-width: 400px;
  height: auto;
  padding: 45px 0px 45px 70px;
  box-shadow: inset -15px 0px 15px -6px #d0d0d0;
  font-weight: bold; }
  /* line 343, ../sass/main.scss */
  .sidebar ul {
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    text-decoration: none; }
    /* line 347, ../sass/main.scss */
    .sidebar ul li.current-menu-item {
      z-index: 10;
      background: white;
      /* Old browsers */
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: -webkit-linear-gradient(left, white 0%, #b0afd1 50%, #a1a0c2 100%);
      background: -o-linear-gradient(left, white 0%, #b0afd1 50%, #a1a0c2 100%);
      background: linear-gradient(to right, #ffffff 0%, #b0afd1 50%, #a1a0c2 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a1a0c2',GradientType=1 );
      /* IE6-9 */ }
    /* line 355, ../sass/main.scss */
    .sidebar ul li {
      margin-bottom: 15px;
      padding: 5px 5px 5px 0px;
      line-height: 1.5em;
      text-indent: 30px; }
      /* line 360, ../sass/main.scss */
      .sidebar ul li:hover {
        z-index: 10;
        background: white;
        /* Old browsers */
        /* FF3.6-15 */
        /* Chrome10-25,Safari5.1-6 */
        background: -webkit-linear-gradient(left, white 0%, #b0afd1 50%, #a1a0c2 100%);
        background: -o-linear-gradient(left, white 0%, #b0afd1 50%, #a1a0c2 100%);
        background: linear-gradient(to right, #ffffff 0%, #b0afd1 50%, #a1a0c2 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a1a0c2',GradientType=1 );
        /* IE6-9 */ }
      /* line 368, ../sass/main.scss */
      .sidebar ul li a {
        color: #2b3991;
        text-decoration: none; }

/*page and blog styles*/
/* line 382, ../sass/main.scss */
.page .flex,
.blog .flex,
.single .flex {
  margin-top: 40px; }
/* line 385, ../sass/main.scss */
.page .sidebar,
.blog .sidebar,
.single .sidebar {
  box-shadow: none; }
/* line 388, ../sass/main.scss */
.page section.content,
.blog section.content,
.single section.content {
  box-shadow: -5px 0px 28px 5px #d0d0d0;
  z-index: 0; }
  /* line 391, ../sass/main.scss */
  .page section.content article,
  .blog section.content article,
  .single section.content article {
    margin-bottom: 50px; }
    /* line 393, ../sass/main.scss */
    .page section.content article a,
    .blog section.content article a,
    .single section.content article a {
      text-decoration: none; }
    /* line 397, ../sass/main.scss */
    .page section.content article:hover h2,
    .blog section.content article:hover h2,
    .single section.content article:hover h2 {
      position: relative; }
    /* line 400, ../sass/main.scss */
    .page section.content article:hover h2:after,
    .blog section.content article:hover h2:after,
    .single section.content article:hover h2:after {
      position: absolute;
      content: '▶';
      color: #2b3991;
      font-size: .8em;
      top: 1px; }
  /* line 409, ../sass/main.scss */
  .page section.content span.page-title-span,
  .blog section.content span.page-title-span,
  .single section.content span.page-title-span {
    background-color: white;
    display: inline-block;
    float: right;
    min-width: 40%;
    margin-top: -85px;
    margin-right: -85px; }
  /* line 417, ../sass/main.scss */
  .page section.content .page-title,
  .blog section.content .page-title,
  .single section.content .page-title {
    position: relative;
    width: 100%;
    display: inline-block;
    float: right;
    margin: -15px 0px 0px;
    padding: 40px 20px;
    font-size: 1.5em;
    color: white;
    background: #2b3991;
    /* Old browsers */
    background: -moz-linear-gradient(left, #2b3991 60%, #7982b9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2b3991 60%, #7982b9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2b3991 60%, #7982b9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
    /* IE6-9 */ }

/* line 436, ../sass/main.scss */
body.home section.content {
  box-shadow: none; }
/* line 439, ../sass/main.scss */
body.home .flex {
  margin-top: 0px; }
/* line 442, ../sass/main.scss */
body.home .sidebar {
  box-shadow: inset -15px 0px 15px -6px #d0d0d0; }

/* line 448, ../sass/main.scss */
section.content {
  width: 70%;
  padding: 60px 85px 60px;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.6em;
  text-align: justify; }
  /* line 455, ../sass/main.scss */
  section.content ul {
    padding-left: 20px; }
  /* line 458, ../sass/main.scss */
  section.content ul li {
    list-style-type: none;
    color: black; }
    /* line 461, ../sass/main.scss */
    section.content ul li::before {
      content: "•";
      color: #f15b29;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }
  /* line 469, ../sass/main.scss */
  section.content ol li {
    list-style-type: decimal;
    color: #2b3991; }
  /* line 473, ../sass/main.scss */
  section.content ol li:first-line {
    color: black; }

/* line 478, ../sass/main.scss */
body.home section.content {
  padding-top: 130px; }

/* line 482, ../sass/main.scss */
blockquote {
  padding: 8px 12px;
  background-color: #f5f6f7;
  border-top: 2px solid #f15b29; }

/* line 488, ../sass/main.scss */
.post-meta {
  color: #f15b29; }

/*Contact Forms*/
/* line 495, ../sass/main.scss */
div[role="form"] label {
  color: #2b3991; }
/* line 498, ../sass/main.scss */
div[role="form"] input, div[role="form"] textarea {
  color: black;
  font-size: 1em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  border: 1px solid #a1a1a1; }
/* line 505, ../sass/main.scss */
div[role="form"] input[type="submit"] {
  margin-top: 5px;
  padding: 7px 10px;
  background: transparent;
  border: 1px solid #f15b29;
  font-size: .7em;
  color: #2b3991;
  font-weight: normal !important;
  text-transform: uppercase;
  line-height: 1.6em !important; }
  /* line 515, ../sass/main.scss */
  div[role="form"] input[type="submit"]:hover {
    color: white;
    background: #f15b29; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1220px) {
  /* line 526, ../sass/main.scss */
  .fact {
    /*        padding-right: 0px;
    */ }
    /* line 528, ../sass/main.scss */
    .fact .push {
      float: none;
      text-align: center;
      margin: 0px auto; }

  /* line 534, ../sass/main.scss */
  div.border-orange {
    float: none; } }
@media (max-width: 980px) {
  /* line 542, ../sass/main.scss */
  header {
    padding: 20px 55px; }
    /* line 544, ../sass/main.scss */
    header .logo {
      max-width: 150px; }
    /* line 547, ../sass/main.scss */
    header nav {
      display: none; }

  /* line 551, ../sass/main.scss */
  .home-hero-right {
    padding-top: 20px; }

  /* line 557, ../sass/main.scss */
  section.sidebar,
  section.content,
  section.facts {
    padding-left: 55px; }

  /* line 562, ../sass/main.scss */
  .home-hero-right,
  section.content,
  section.facts {
    padding-right: 55px; }

  /* line 566, ../sass/main.scss */
  section.sidebar {
    min-width: 250px; }
    /* line 568, ../sass/main.scss */
    section.sidebar ul li {
      text-indent: 0px; }

  /* line 572, ../sass/main.scss */
  .page section.content span.page-title-span {
    margin-right: -55px; }

  /* line 575, ../sass/main.scss */
  div[class*="home-hero-"] {
    min-height: 0px; }

  /* line 578, ../sass/main.scss */
  .home-hero-right {
    display: none; }

  /* line 581, ../sass/main.scss */
  .home-hero-left {
    max-width: 100%;
    margin-top: 40px;
    background: white;
    color: #f15b29 !important; }
    /* line 586, ../sass/main.scss */
    .home-hero-left .feature-wrap {
      margin-top: 30px;
      padding: 10px 40px !important;
      font-size: 1em; }
      /* line 590, ../sass/main.scss */
      .home-hero-left .feature-wrap h1, .home-hero-left .feature-wrap h2, .home-hero-left .feature-wrap h3, .home-hero-left .feature-wrap h4 {
        color: #f15b29 !important; }
      /* line 593, ../sass/main.scss */
      .home-hero-left .feature-wrap button {
        float: none;
        text-transform: uppercase;
        color: #2b3991;
        border: none; }
        /* line 598, ../sass/main.scss */
        .home-hero-left .feature-wrap button:hover {
          color: white;
          background: #f15b29; }
    /* line 604, ../sass/main.scss */
    .home-hero-left::before {
      display: none; }

  /* line 608, ../sass/main.scss */
  .home-hero-left::before {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    height: 50px;
    top: -50px;
    background: #fee7e1;
    /* Old browsers */
    background: -moz-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fee7e1 0%, #f15b29 40%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fee7e1 0%, #f15b29 40%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee7e1', endColorstr='#f15b29',GradientType=1 );
    /* IE6-9 */ }

  /* line 621, ../sass/main.scss */
  .home-hero-left::after {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 50px;
    top: -40px;
    right: 0px;
    background: #2b3991;
    /* Old browsers */
    background: -moz-linear-gradient(left, #2b3991 60%, #7982b9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2b3991 60%, #7982b9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2b3991 60%, #7982b9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3991', endColorstr='#7982b9',GradientType=1 );
    /* IE6-9 */ }

  /* line 635, ../sass/main.scss */
  body.home section.content {
    padding-top: 35px; } }
@media (max-width: 640px) {
  /* line 642, ../sass/main.scss */
  header {
    padding: 10px 35px;
    border-bottom: 9px solid #f15b29; }

  /* line 647, ../sass/main.scss */
  h1 {
    font-size: 1.2em; }

  /* line 650, ../sass/main.scss */
  section.content {
    text-align: left; }

  /* line 655, ../sass/main.scss */
  section.sidebar,
  section.content,
  section.facts {
    padding-left: 35px; }

  /* line 660, ../sass/main.scss */
  .home-hero-right,
  section.content,
  section.facts {
    width: 100%;
    padding-right: 35px; }

  /* line 664, ../sass/main.scss */
  section.sidebar {
    display: none; }

  /* line 667, ../sass/main.scss */
  div.border-orange {
    float: left; }

  /* line 670, ../sass/main.scss */
  .fact {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding: 0px; }
    /* line 677, ../sass/main.scss */
    .fact .push {
      float: left;
      max-width: 55%;
      margin-left: 30px;
      text-align: left; }

  /* line 685, ../sass/main.scss */
  div[role="form"] input,
  div[role="form"] textarea {
    width: 100% !important; }

  /* line 689, ../sass/main.scss */
  .page section.content {
    width: 90%;
    margin-left: 10%; }

  /* line 695, ../sass/main.scss */
  .page section.content span.page-title-span,
  .blog section.content span.page-title-span,
  .single section.content span.page-title-span {
    min-width: 60%;
    margin-top: -70px;
    margin-right: -35px; }

  /* line 702, ../sass/main.scss */
  .page section.content .page-title,
  .blog section.content .page-title,
  .single section.content .page-title {
    padding: 15px 10px;
    font-weight: normal; }

  /* line 706, ../sass/main.scss */
  .home section.content {
    width: 100%;
    margin-left: 0%; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 723, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 728, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 740, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 749, ../sass/main.scss */
.invisible {
  visibility: hidden; }

/* line 754, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 759, ../sass/main.scss */
.clearfix:after {
  clear: both; }

/* line 763, ../sass/main.scss */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 774, ../sass/main.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 782, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 786, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 790, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 795, ../sass/main.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  /* line 800, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 805, ../sass/main.scss */
  thead {
    display: table-header-group; }

  /* line 810, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 814, ../sass/main.scss */
  img {
    max-width: 100% !important; }

  /* line 820, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 826, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
